$base-color: #14213d;
$secondary-color: #e5e5e5;
$hight-color: #540b0e;

a {
  text-decoration: none;
}
body {
  margin: 0 auto;
  background-image: url("../media/travel-background-icons.jpg");
}
main {
  padding: 12px;
}
.title {
  font-size: 3.5rem;
  color: $base-color;
  font-family: "Truculenta", sans-serif;
}
.section-location,
.section-result {
  padding: 10px 20px;
  margin: 10px 0;
  border: 1px solid $hight-color;
  border-radius: 10px;
  background: #fff;
  width: 100%;
  font-size: 1.5rem;
  color: $base-color;
  font-family: "Truculenta", sans-serif;
}
.section-result {
  display: none;
}
.result__img {
  text-align: center;
  img {
    width: 30%;
  }
}
.fas,
.far {
  padding-right: 40px;
}
