$base-color: #14213d;
$secondary-color: #e5e5e5;
$hight-color: #540b0e;

body {
  margin: 0 auto;
  background-image: url("../media/travel-background-icons.jpg");
}
main {
  display: flex;
  justify-content: center;
}
.title {
  font-size: 2rem;
  color: $base-color;
  font-family: "Truculenta", sans-serif;
}
.section-location,
.section-result {
  padding: 12px 20px;
  margin: 12px auto;
  border: 1px solid $hight-color;
  border-radius: 10px;
  background: #fff;
  width: 500px;
  font-size: 1.5rem;
  color: $base-color;
  font-family: "Truculenta", sans-serif;
}
.section-result{
  display: none;
}
.result__img {
  text-align: center;
  img {
    width: 30%;
  }
}
