footer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 25px auto ;
  padding: 26px 0;
  background-color: $secondary-color;
  font-size: 2rem;
}
.footer__social {
  padding: 12px 0;
  a {
    padding-right: 12px;
    color: $base-color;
  }
}
