header {
  font-family: "Truculenta", sans-serif;
  background-color: $secondary-color;
  padding: 20px;
  margin: 0 auto 12px;
  h1 {
    font-size: 3rem;
    color: $base-color;
  }
  P {
    font-size: 2rem;
    color: $hight-color;
  }
}
